.loader-wrapper {
  display: table-cell;
  width: 100vw;
  height: calc(100vh - 56px);
  text-align: center;
  vertical-align: middle;
}

.st0 {
  opacity: 0.8;
  fill: none;
  stroke-width: 0.4811;
  stroke-miterlimit: 10;
}

.st2 {
  opacity: 0.8;
}

.st3 {
  fill: none;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke-width: 0.4694;
  stroke-miterlimit: 10;
}
