.nav-link.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  width: calc(100% + 1px);
  margin: -1px 0 0 -1px;

  &.visible {
    display: block;
  }
}

.r-logout {
  display: table;
  height: 54px;
  padding: 0 8px;
  color: #AAAAAA;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
    color: #FFF;
    text-decoration: none;
  }

  .r-logout-wording {
    display: table-cell;
    vertical-align: middle;
  }
}
